/* media 1200px */
@media screen and (max-width: 1200px) {
    /* Main */
    .dashboard-container {
        grid-template-columns: 1fr 6fr 5fr;
        gap: 2rem;
    }

    .main-sidebar {
        width: auto;
        padding-left: 4px;
    }

    .main-container .insights {
        grid-template-columns: 1fr;
    }

    .main-container .recent-orders {
        position: absolute;
        width: 85%;
        padding-bottom: 4rem;
    }

    /* Sidebar */
    .aside-header .brand {
        padding-left: 1rem;
    }

    .brand h3 {
        display: none;
    }
    .sidebar .item span:not(.material-icons-sharp) {
        display: none;
    }

    .sidebar .item span.message-count {
        display: flex;
    }

    .list-items .item a {
        gap: 10px;
        padding: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .list-items li:last-child {
        position: initial;
        margin-top: 4rem;
    }
}

/* Media 768px */
@media screen and (max-width: 768px) {
    /* Sidebar */
    .main-sidebar {
        display: block;
        position: fixed;
        width: 300px;
        background-color: var(--white);
        z-index: 10;
        box-shadow: var(--box-sidebar);
        padding-right: 1rem;
        left: -100%;
        transition: 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
    }

    .aside-header .close {
        display: inline;
        padding: 4px;
        transition: 0.3s ease-in-out;
    }

    .aside-header .close:hover {
        cursor: pointer;
        background-color: var(--desaturate-cyan-2);
    }

    .aside-header .brand {
        padding-left: 3rem;
    }

    .brand h3 {
        display: inline;
        font-size: 20px;
    }

    .brand img {
        width: 40px;
        height: 40px;
    }

    .sidebar .item a {
        justify-content: start;
        gap: 20px;
        padding-left: 3rem;
    }

    .sidebar .item a span {
        display: inline !important;
    }

    /* Main */
    .dashboard-container {
        grid-template-columns: 1fr;
        grid-template-areas: 'main';
    }

    .main-container {
        padding: 20px 40px !important;
        margin-top: 96px;
    }

    .main-title {
        margin-bottom: 2rem;
    }

    .main-container .recent-orders {
        position: initial !important;
        width: 100% !important;
        padding-bottom: 2rem;
    }

    .recent-orders .ro-title {
        margin-bottom: 2rem;
    }

    .recent-updates {
        margin-bottom: 4rem;
    }

    .analytics {
        margin-bottom: 4rem;
    }

    .analytics h2 {
        margin-bottom: 2rem;
    }

    /* Extrabar */
    .extrabar {
        grid-area: auto !important;
        padding: 20px 40px !important;
    }

    .extrabar .header-right {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        background-color: var(--white);
        padding: 16px 32px;
        gap: 10rem;
        box-shadow: var(--box-sidebar);
        transition: background-color 0.3s ease-in-out;
    }

    .header-right .toggle-menu-btn {
        position: absolute;
        left: 20px;
        display: initial;
        border: none;
        color: var(--text-color-secondary);
        background-color: var(--white);
        padding: 4px;
        transition: 0.3s ease-in-out;
    }

    .header-right .toggle-menu-btn:hover {
        background-color: var(--desaturate-cyan-2);
        cursor: pointer;
    }
}

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

:root {
    --white: #fff;
    --light: #f3f4ee;
    --fuscha: hsl(334, 94%, 57%);
    --desaturate-fuscha: hsla(334, 94%, 57%, 0.15);
    --desaturate-fuscha-2: hsla(334, 94%, 57%, 0.1);
    --cyan: hsl(184, 46%, 57%);
    --desaturate-cyan: hsla(184, 46%, 57%, 0.25);
    --desaturate-cyan-2: hsla(184, 46%, 57%, 0.15);
    --light-blue: #bbeef1;
    --pinkless: #fff3e0;
    --yellow: #f1b813;
    --green:#085e08;

    --text-color-primary: #314657;
    --text-color-secondary: #58626e;
    --text-color-third: #9db3be;

    --box-shadow-card: 8px 8px 32px var(--green);
    --box-shadow-card-2: 8px 8px 32px var(--green);
    --box-sidebar: 2px 4px 16px var(--green);

    --padding-card: 28px;
    --border-radius-rounded: 50%;
    --border-radius-4: 4px;
    --border-radius-8: 8px;
    --border-radius-12: 12px;
    --border-radius-card: var(--padding-card);
}

.dark-mode {
    --white: #393e46;
    --light: #222831;
    --desaturate-fuscha: hsla(334, 8%, 67%, 0.15);

    --text-color-primary: #eee;
    --text-color-secondary: #eee;

    --box-shadow-card: 8px 8px 32px var(--green);
    --box-shadow-card-2: 8px 8px 32px var(--desaturate-cyan);
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

html {
    font-size: 14px;
}

body {
    background-color: var(--light);
    color: var(--text-color-primary);
    height: 100vh;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    /* font-size: 0.9rem; */
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

a {
    color: var(--text-color-secondary);
    transition: color 0.3s ease-in-out;
}

a:hover {
    color: var(--text-color-secondary);
}

.material-icons-sharp {
    vertical-align: middle;
}

.text-primary {
    color: var(--text-color-primary);
}

.text-secondary {
    color: var(--text-color-secondary);
}

.text-third {
    color: var(--text-color-third);
}

/* ========= GLOBAL CONTAINER ================= */
.dashboard-container {
    display: grid;
    grid-template-columns: 2fr 7fr 3fr;
    grid-template-areas: 'sidebar main extrabar';
    gap: 4rem;
    height: 100%;
}

.main-sidebar {
    grid-area: sidebar;
    height: 100%;
    width: 320px;
    padding: 20px 0 20px 16px;
}

.main-sidebar .aside-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.aside-header .close {
    display: none;
}

.aside-header .brand {
    display: flex;
    align-items: center;
    padding-left: 4rem;
}

.brand img {
    width: 48px;
    height: 48px;
}

.brand h3 {
    font-size: 24px;
    text-transform: uppercase;
}

.main-sidebar .sidebar {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    padding-top: 4rem;
    width: 100%;
}

.sidebar .list-items {
    width: 100%;
}

.list-items li:last-child {
    position: absolute;
    bottom: 4rem;
    width: 100%;
}

.list-items .item a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
    width: 100%;
    padding: 16px 4rem 16px;
    font-size: 1.2em;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
}

.list-items .item a:hover {
    color: var(--fuscha);
    transform: translateX(5%);
}

.list-items .item a:active,
.list-items .item a.active {
    color: var(--text-color-primary);
    border-left: 7px solid transparent;
    border-left-color: var(--green);
    background-color: var(--green);
    /* border-radius: var(--border-radius-4); */
}

.item a .material-icons-sharp {
    font-size: 28px;
}

.item .message-count {
    background-color: var(--green);
    text-align: center;
    border-radius: var(--border-radius-4);
    color: var(--light);
    border: 1px solid var(--text-color-secondary);
    padding: 0px 8px;
    transition: all 0.3s ease-in-out;
}

.item a:hover .message-count,
.item a:active .message-count,
.item a.active .message-count {
    background-color: var(--white);
    color: var(--fuscha);
    border: 1px solid var(--green);
}

/* ================= MAIN =================== */
.main-container {
    grid-area: main;
    padding: 20px 0;
}

.main-title {
    margin-bottom: 3rem;
    line-height: 1.8;
}

.insights {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin-bottom: 2rem;
}

.insights .card {
    background-color: var(--white);
    padding: 28px;
    border-radius: 28px;
    box-shadow: var(--box-shadow-card);
    transition: box-shadow 0.3s ease-in-out;
}

.insights .card:hover {
    box-shadow: var(--box-shadow-card-2);
}

.card .card-header span {
    padding: 12px;
    border-radius: var(--border-radius-rounded);
    /* color: var(--white); */
    font-size: 28px;
    margin-bottom: 18px;
}

.insights .card:nth-child(1) .card-header span {
    color: var(--yellow);
    border: 1px solid var(--yellow);
}

.insights .card:nth-child(2) .card-header span {
    color: var(--green);
    border: 1px solid var(--green);
}

.insights .card:nth-child(3) .card-header span {
    color: var(--cyan);
    border: 1px solid var(--yellow);
}

.card-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.card-body .card-progress {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 96px;
    height: 96pxx;
    border-radius: var(--border-radius-rounded);
}

.card-body svg circle {
    fill: none;
    stroke-width: 16px;
    stroke-dasharray: 226.2;
    stroke-dashoffset: 226.2;
    transform: translate(10px, 10px);
    stroke-linecap: round;
    transition: stroke-dashoffset 1s ease-in;
}

.card-body .percentage {
    position: absolute;
    font-weight: 700;
}

.card-footer {
    font-size: 16px;
    color: var(--text-color-third);
    font-weight: 600;
}

/* ================= RECENTS =================== */
.recent-orders {
    margin-top: 4rem;
}

.recent-orders .ro-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.recent-orders .ro-title a {
    font-size: 16px;
    font-weight: 600;
    transition: 0.3s ease-in;
    padding-right: 28px;
}

.recent-orders .ro-title a:hover {
    color: var(--fuscha);
}

.recent-orders table {
    width: 100%;
    background-color: var(--white);
    padding: var(--padding-card);
    border-radius: var(--border-radius-card);
    box-shadow: var(--box-shadow-card);
    text-align: center;
    transition: box-shadow 0.33s ease-in-out;
    overflow: hidden;
    border-spacing: 0;
}

.recent-orders table:hover {
    box-shadow: var(--box-shadow-card-2);
}

.recent-orders tbody td,
.recent-orders thead th {
    padding: 12px 24px;
}

.recent-orders table tbody tr {
    border: 1px solid transparent;
    border-bottom-color: var(--desaturate-cyan);
    transition: 0.15s ease-in;
}

.recent-orders tbody tr:last-child {
    border-bottom-color: transparent;
}

.recent-orders tbody tr:first-child {
    border-top-color: var(--desaturate-cyan);
}

.recent-orders table tbody tr:nth-child(2n + 1) {
    background-color: var(--green);
}

.recent-orders tbody tr:hover {
    background-color: var(--green) !important;
}

/* ===== Sidebar Droite ===== */
.extrabar {
    grid-area: extrabar;
    padding: 20px 40px 20px 0;
    transition: background-color 0.3s ease-in-out;
}

.extrabar .header-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 4rem;
    margin-bottom: 3rem;
}

.header-right .toggle-menu-btn {
    display: none;
}

.header-right .toggle-theme {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--green);
    border-radius: var(--border-radius-8);
    cursor: pointer;
}

.header-right .toggle-theme span {
    font-size: 20px;
    padding: 4px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease-in;
}

.header-right .toggle-theme span:hover {
    background-color: var(--green);
    border-radius: var(--border-radius-8);
}

.header-right .toggle-theme span.active {
    background-color: var(--green);
    border-radius: var(--border-radius-8);
    color: var(--light);
}

.header-right .profile {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

.header-right .profile .profile-info {
    font-size: 16px;
}

/* Recents updates */
.recent-updates {
    background-color: var(--white);
    border-radius: var(--border-radius-card);
    padding: var(--padding-card);
    box-shadow: var(--box-shadow-card);
    transition: 0.3s ease-in-out;
    margin-bottom: 2rem;
}

.recent-updates:hover {
    box-shadow: var(--box-shadow-card-2);
}

.recent-updates h2 {
    margin-bottom: 24px;
}

.recent-updates .update {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 16px;
    font-size: 16px;
    text-align: justify;
}

/* Stats and analytics */
.analytics h2 {
    margin-bottom: 16px;
}

.analytics .order {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 20px;
    background-color: var(--white);
    margin-bottom: 16px;
    padding: 20px var(--padding-card);
    box-shadow: var(--box-shadow-card);
    border-radius: var(--border-radius-12);
    transition: 0.3s ease-in;
}

.analytics .order:hover {
    box-shadow: var(--box-shadow-card-2);
}

.analytics .order .order-details {
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 100%;
}

.analytics .order .order-details small {
    font-size: 14px;
}

.analytics .order:nth-of-type(1) .order-icon {
    color: var(#085e08);
}

.analytics .order:nth-of-type(2) .order-icon {
    color: var(-#085e08);
}

.analytics .order:nth-of-type(3) .order-icon {
    color: var(#085e08);
}

.analytics .new-product {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px 40px;
    border-radius: var(--border-radius-12);
    border: 1px dashed transparent;
    border-color: #085e08;
    color: #085e08;
    text-transform: uppercase;
    gap: 10px;
    cursor: pointer;
    user-select: none;
    transition: 0.3s ease-in;
}

.analytics .new-product:hover {
    background-color: #085e08;
    color: var(--light);
    border-color: var(#085e08);
    box-shadow: 4px 4px 2px var(#085e08);
}

.profile-image {
    width: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 16px;
    /* height: 48px; */
    border-radius: var(--border-radius-rounded);
    overflow: hidden;
}

.text-fuscha {
    color: var(#085e08);
}

.text-yellow {
    color: var(#085e08);
}

.text-cyan {
    color: var(#085e08);
}

.stroke-fuscha {
    stroke: var(#085e08);
}

.stroke-yellow {
    stroke: var(#085e08);
}

.stroke-cyan {
    stroke: var(#085e08);
}

.bg-fuscha {
    background-color: var(#085e08);
}

.bg-yellow {
    background-color: var(#085e08);
}

.bg-cyan {
    background-color: var(#085e08);
}

h1{
    text-align: center;
  }
.form-style {
    padding:20px;
    width: 750px;
    font: 14px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    
  }
.form-style td {
    padding: 0;
    display: block;
    list-style: none;
    margin: 10px 0 0 0;
  }
.form-style label{
    margin:0 0 3px 0;
    padding:0px;
    display:block;
    font-weight: bold;
  }
.form-style .required{
    color:red;
  }
.form-style input[type=submit], .form-style input[type=reset]{
    background: #4eb5f1;
    padding: 8px 15px 8px 15px;
    border: none;
    color: #fff;
  }

.form-style .field-textarea{
    height: 100px;
  }
.form-style input[type=text], 
.form-style input[type=number],
  textarea{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border:1px solid #BEBEBE;
    padding: 20px;
    margin:0px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none; 
    width:100%;
    text-align: left;
  }
  .form-style .long{
    width: 100%;
  }
.form-style input[type=text]:focus, 
.form-style input[type=number]:focus,
  
.form-style textarea:focus{
    -moz-box-shadow: 0 0 8px #88D5E9;
    -webkit-box-shadow: 0 0 8px #88D5E9;
    box-shadow: 0 0 8px #88D5E9;
    border: 1px solid #88D5E9;
  }
.error{
    color: #D8000C;
    background-color: #FFBABA;
  }
.description {
    font: 30px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-weight: bold;
    margin: 20px;
    text-align: center; 
    justify-content: center;
    display: table;
    margin: 0 auto;
}